<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{first_name}} {{last_name}}, this is the funniest joke ever told {{funniest_joke}} </p>
        <img class="potrait" src="/img/flower.jpg" /> 

    </div>
    {{>footer}}
</body>

</html>